<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/scrolling-nav.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="../static/css/modern-business.css" rel="stylesheet">

    <!-- Theme CSS -->
    <!--link href="../static/css/creative.min.css" rel="stylesheet"-->
    <link href="../static/css/creative.css" rel="stylesheet">

    <!-- My CSS-->
    <link href="../static/css/myCss.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top purplekBg">
		
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
				<a class="navbar-brand page-scroll col-md-3 col-xs-3 col-sm-3 col-lg-3" href="#page-top">
					<img class="img-responsive"  src="../static/img/schoolLogo_white.png">
                </a>
				<a class="navbar-brand page-scroll col-md-5 col-xs-4 col-sm-5 col-lg-5" href="#page-top">
					<img class="row img-responsive"  src="../static/img/wordsLogo.png">
                </a>
				<br>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse purplekBg" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll fa fa-3x fa-facebook text-muted sr-icons"></a>
                    </li>
                    <li>
                        <a class="page-scroll fa fa-3x fa-envelope text-muted sr-icons"></a>
                    </li> 
                    <li>
                        <a class="page-scroll fa fa-3x fa-map-marker text-muted sr-icons"></a>
                    </li>
                    <li>
                        <a class="page-scroll fa fa-3x fa-home text-muted sr-icons"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse purplekBg" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">活動消息</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">歡慶40</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">相片集錦</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">聯絡我們</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Intro Section -->
    <section id="first" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>1977 年， 計算機管理決策所, 1997年 改名為資訊工程學系<h1>
                    <a class="btn btn-default page-scroll" href="#second">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="second" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>1998,1999 年， 在劉炯朗校長帶領下，清華學術聲望奪全台第1<h1>
                    <a class="btn btn-default page-scroll" href="#third">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="third" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>第一屆~第四屆傑出系友<h1>
                    <a class="btn btn-default page-scroll" href="#fourth">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="fourth" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>第五屆~第八屆傑出系友<h1>
                    <a class="btn btn-default page-scroll" href="#fifth">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="fifth" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>第九屆~第十二屆傑出系友<h1>
                    <a class="btn btn-default page-scroll" href="#sixth">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="sixth" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>2014-2016, QS 世界CS排名： 前進百大<h1>
                    <a class="btn btn-default page-scroll" href="#seventh">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../static/vendor/bootstrap/js/jquery.easing.min.js"></script>
    <script src="../static/vendor/bootstrap/js/scrolling-nav.js"></script>


</body>

</html>
