{% extends "layout.html" %}

{% block title %}
    {{super()}}
{% endblock %}

{% block script %}

    <link href="../static/css/round-about.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <br>
    <br>
    <div class="container">
        <div><a href='http://cs.media.nthu.edu.tw/media/show/id/1907'>2007清華大學30週年系慶活動照片:</a></div>
        

        <div><a href='https://goo.gl/photos/omUjkQWAodDCjwUj8'>2011清華大學資訊工程學系系友會-清大百歲校慶系友團圓</a></div>

        <div><a href='https://goo.gl/photos/QmWF65v3Usb8fcZs9'>2012清華大學資訊工程學系系友會活動-台達新館巡禮</a></div>
        

        <div><a href='http://cs.media.nthu.edu.tw/media/show/id/1906'>2013清華大學資工系校慶活動	</a></div>
        

        <div><a href='http://cs.media.nthu.edu.tw/media/show/id/1873'>2015 校慶暨系友會活動: </a></div>
        
        <div><a href='https://photos.google.com/u/1/share/AF1QipPR3f5Udx18wmUZ3xa2MJ0OMvtHJ6qPGuP_QicctvAQpd1NjahKCjJ9a1UJo05mNA?key=SzlzWE9kSzlPLUMyX0syU1k4MThkUE5LdTdoVHJR'>2016校慶系友聯誼會活動:</a></div>
    </div>
    
{% endblock %}
