{% extends "layout.html" %}

{% block title %}
    {{super()}}
{% endblock %}

{% block script %}
    <script src="../static/js/activity.js"></script>
    <link href="../static/css/blog-post.css" rel="stylesheet">
    <style>
        #myModal_wider .modal-dialog  {width:50%;}
        @media (max-width: 900px) {
            #myModal_wider .modal-dialog {
                width: 100%;
            } 
        }

        .link-default{
            color:purple;
            background-color: rgba(255, 166, 0, 0.85);
        }
        .link-default:hover{
            color:white;
        }
        .no-border{
            border: 0px solid;
        }
        .align-center{
            text-align: center;
        }
        th{
            font-size: 24px;
        }
        td{
            font-size: 18px;
        }
        p{
            font-size: 18px;

        }
        td a{
            font-weight: bold;
        }
        .small_device_disappear{

        }
        .rwd_words{
            font-size: 2em;
        }
        .rwd_small_words{
        }
        @media (max-width: 768px) {
            .small_device_disappear{
                display: none;
            }
            .rwd_words{
                font-size: 1.5em;
            }
            .rwd_small_words{
                font-size: 1em;
            }
        }

    </style>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-12">

                <!-- Blog Post -->
                <!-- Author -->
                <br>
                <p class="lead fa fa-2x fa-calendar rwd_words">&nbsp;&nbsp;2017/4/23(日)&nbsp;9:30~16:00&nbsp;</p>
                <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=['清華資工40週年系慶系列活動']&dates=[start-custom format='20170423\\THi00\\Z']/[end-custom format='20170423\\THi00\\Z']&details=[description]&location=[location]&trp=false&sprop=&sprop=name:" 
                        class="fa fa-2x fa-plus-circle" target="_blank" rel="nofollow"></a>
                <br>
                <p class="lead  fa fa-2x fa-map-marker rwd_words">&nbsp;&nbsp;台達館1樓、資工系各會議室</p>
                <br>
                <p class="lead  fa fa-2x fa-gift rwd_words">&nbsp;&nbsp;系列活動</p>

                <!-- Table -->
                <div class="panel panel-default no-border">
                    <!--div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> 系列活動</h4>
                    </div-->
                    <div class="panel-body" style="padding: 0">
                        <table class="table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th class="col-lg-1 col-md-2 col-sm-2 col-xs-2  rwd_small_words">主題</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1  rwd_small_words">說明</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1 rwd_small_words">時間地點</th>
                                    <!--<th class="col-lg-2 col-md-2 col-sm-2 col-xs-1">地點</th>-->
                                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-1  rwd_small_words">詳情</th>
                                </tr>
                            </thead>
                            <tbody class="NewsTable" id="activityBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <!-- Table end -->
                <div class="row align-center">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn bg-orange link-default btn-lg" data-toggle="modal" data-target="#myModal_wider">
                        <span class="fa fa-clock-o"></span>&nbsp; 完整時間表
                    </button>
                </div>


                <!-- Modal -->
                <div id="myModal_wider" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-fw fa-gift"></i> 完整行程表 </h4>
                    </div>
                    <div class="modal-body">
                        <!-- Table -->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                        <th>時間</th>
                                        <th>活動</th>
                                        <th>說明</th>
                                        <th>地點</th>
                                        </tr>
                                    </thead>
                                    <tbody class="NewsTable" id="scheduleBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Table end -->
                        <p>
                        ★  9：30～16：00 &nbsp;&nbsp;攝影師將於舞台前主視覺--四十週年紀念看板前幫各級系友拍團體照留念，<br>
                        可立即上傳並分享至四十週年粉絲專頁活動網頁按讚！<br>
                        設有自拍機可立即將照片列印留存唷！<br>
                        拍照最多人數的系級以及按讚數最多的系級將可獲頒最佳人氣獎！<br>
                        （以當天下午2點前之按讚數來評比）
                        <br>
                        ★  9：30～16：00 &nbsp;&nbsp;資工系＆資應所學生研究成果分享展（台達館1樓中庭）
                        <br>
                        ★ 14：00～16：00 &nbsp;&nbsp;歡樂同學會（資電館、台達館各會議室）
                        </b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn link-default" ><a href="../doc/schedule.docx" download>Download</a> </button>
                        <button type="button" class="btn link-default" data-dismiss="modal">Close</button>
                    </div>
                    </div>

                </div>
                </div>



            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}



