t{% extends "layout.html" %}

{% block title %}
    {{super()}}
{% endblock %}

{% block script %}
    <link href="../static/css/round-about.css" rel="stylesheet">
    <script>
        class Celebrity{
            constructor(time, name, graduate, now, teacher, number, imgSrc){
                this.time = time;
                this.name = name;
                this.graduate = graduate;
                this.now = now;
                this.teacher = teacher;
                this.number = number;
                this.imgSrc = imgSrc; 
            }
        }
        var Celebrities = new Array();
        var startTime = 2001;
        var number = ['第一屆', '第二屆', '第三屆', '第四屆', '第五屆', '第六屆', '第八屆', '第九屆', '第十屆', '第十一屆', '第十二屆', '第十三屆', '第十四屆', '第十五屆', '第十六屆', ]
        var names = ['張真誠', '張培鏞', '劉龍龍', '黃瑞榮', '劉鈞', '黃興燦', '黃其益', '蔡文弘', '簡良益', '蘇泓萌', '陳健輝', '魯立忠 ' , '謝永清 ', '張瑞雄', '李怡德'];
        var graduate = ['計算機管理決策所 1979級','計算機管理決策所 1979級', '資訊所 1986級', '資訊所博士 1990級', '計算機管理決策所 87級', '應用數學研究所碩士 77級', '資訊科學所博士 92級', '計算機管理決策所 88級', 
         '資訊工程學系碩士 99級', '計算機管理決策研究所 1984', '計算機管理決策所 碩士84級、博士87級', '計算機管理決策研究所 碩士84級', '資訊科學研究所 碩士89級', '計算機管理決策研究所 博士88級', '計算機科學系 碩士82級']; 
        var now = ['國立中正大學 資工系教授', '叡揚資訊 執行長', '翔威國際 總經理', '鈺寶科技 總經理', '凌華科技 董事長', '中央大學 資工系教授', '智原科技國際 業務副總經理暨公司發言人',
        '廣達電腦公司 資深副總經理暨 第二事業群總經理', '研勤科技股份有限公司 董事長兼總經理', '晶心科技股份有限公司 技術長(CTO)兼研發/技術企劃副總經理', '台大資工系 終生特聘教授', '台積電數位智慧財產設計方案處處長', 
        '補丁科技 研發處副總經理', '國立臺北商業技術學院 校長', '威創科技 總經理'] ;
        var teacher = ['李家同教授', '楊熙年教授', '陳文村教授', '李家同教授', '黃興燦教授', '陳文村教授', '林永隆教授', '楊熙年教授', '張隆紋教授', '陳文村教授', '陳茂生教授(與工工系合聘)',
        '陳文村教授', '李家同教授', '李家同教授' ]; 
        var noImg = "http://placehold.it/200x200";
        var celebrityImgSrc = '../static/img/celebrity/'
        var imgSrcs = ['1.jpg', '2.jpg', '3.jpg', noImg, '5.png',    '6.jpg', '8.jpg', noImg, '10.jpg', '11.jpg', '12.jpg', '13.jpg', '14.jpg', '15.jpg', '16.png'];
        for(var j=0; j<imgSrcs.length; j++){
            if(imgSrcs[j] != noImg)
                imgSrcs[j] = celebrityImgSrc + imgSrcs[j]; 
        }

        var i_offset = 0;
        for(var i=0; i<16; i++){
            //No no. 7
            if(i == 6){
                i_offset = 1;
                Celebrities.push(new Celebrity(startTime+i+i_offset, names[i], graduate[i], now[i], teacher[i], number[i], imgSrcs[i]));
            }
            else 
                Celebrities.push(new Celebrity(startTime+i+i_offset, names[i], graduate[i], now[i], teacher[i], number[i], imgSrcs[i]));
        }
        console.log(Celebrities);   


        function getElement(tagName, divClassName){
            var element_tmp = document.createElement(tagName);
            element_tmp.className = divClassName;
            return element_tmp;
        }
        function getElementWithContent(tagName, divClassName, innerHTML){ 
            var element_tmp = getElement(tagName, divClassName);
            element_tmp.innerHTML = innerHTML;
            return element_tmp;
        }
        var headers = ['第一屆到第三屆 (2001~2003)', '第四屆到第六屆 (2004~2006)', '第八屆到第十屆 (2008~2010)', '第十一屆到第十三屆 (2011~2013)', '第十四到第十六屆 (2014~2016)',]
        var celebrityWall = document.getElementById('celebrityWall');

        for(var rowIndex=4; rowIndex>=0; rowIndex--){
            var div_heading = getElement('div', 'col-lg-12');
                var div_title = getElementWithContent('div', 'page-header', headers[rowIndex]);
            div_heading.appendChild(div_title);
            celebrityWall.appendChild(div_heading);
           
            var peopleCountForOneRow = 3;
            for(var count=0; count<peopleCountForOneRow; count++){
                var div_celebirtyList = getElement('div', 'col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center');
                var celebrity_tmp = Celebrities[rowIndex*3+count];

                var img_picture = getElement('img', 'img-circle img-responsive img-center');
                img_picture.src = celebrity_tmp.imgSrc;
                var h3_name = getElementWithContent('h3', '', celebrity_tmp.name); 
                    var small_graduate = getElementWithContent('small', '', celebrity_tmp.graduate);
                h3_name.appendChild(document.createElement('br'));
                h3_name.appendChild(small_graduate);

                var p_now = getElementWithContent('p', '', celebrity_tmp.now);

                div_celebirtyList.appendChild(img_picture);
                div_celebirtyList.appendChild(h3_name);
                div_celebirtyList.appendChild(p_now);
                celebrityWall.appendChild(div_celebirtyList);
            }

        }

    </script>
{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        <br/>
        <br/>
        <br/>
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">風雲人物 
                    <small>傑出校友獎</small>
                </h1>
                <p>「所謂大學者，非謂有大樓之謂也，有大師之謂也!」</p> 
            </div>

        </div>

        <!-- Team Members Row -->
        <div class="row" id="celebrityWall">
            
        </div>

        <hr>


    </div>
    <!-- /.container -->

{% endblock %}