{% extends "layout.html" %}

{% block title %}
    {{super()}}
{% endblock %}

{% block script %}


    <!-- Custom CSS -->
    <link href="../static/css/scrolling-nav.css" rel="stylesheet">
    

    <!-- Scrolling Nav JavaScript -->
    <script src="../static/vendor/bootstrap/js/jquery.easing.min.js"></script>
    <script src="../static/vendor/bootstrap/js/scrolling-nav.js"></script>

    <style>
        nav#mainNav{
            padding: 0px;
        }

        section{
            background-image: url("../static/img/history/first.jpg");
            background-size: 100% 100%; 
            /*margin-top: 5%;*/
            background-repeat: no-repeat;
            height: 100%;
            padding-top:100px; 
            text-align: center;
        }
        .title{
            background-color: rgba(255, 255, 255, 0.58);
            border-radius: 8px;
        }

        .atBottom{
            padding-top: 50%;
        }

        .padding0 {
            padding: 0px 0px 0px 0px;
        }

        .seperateLine {
            background: black;
        }
    </style>

    <script>
        function createSection(id, className, title, bgImgs, nextNodeId){
            var section = document.createElement("section");
            section.id = id;
            //section.className = className;
           // section.setAttribute('backgroundImage', "../static/img/history/first.jpg");
            console.log(section.style);

            var container = document.createElement('div');
            container.className = 'container';
            section.appendChild(container);
                var row1 = document.createElement('div');
                row1.className = 'row';
                container.appendChild(row1);
                    var col12 = document.createElement('div');
                    col12.className = 'col-lg-12';
                    row1.appendChild(col12);
                        var h1Title = document.createElement('h1');
                        h1Title.className = 'title';
                        h1Title.innerHTML += '<b>'+title+'</b>'
                        col12.appendChild(h1Title);
                        
                
                if(nextNodeId != null){
                    var row2 = document.createElement('div');
                    row2.className = 'row atBottom';
                    container.appendChild(row2);
                        var col12_2 = document.createElement('div');
                        col12_2.className = 'col-lg-12';
                        row2.appendChild(col12_2);
                            var aNextSection = document.createElement('a');
                            aNextSection.className = 'btn btn-default page-scroll nextButton';
                            aNextSection.href = '#'+nextNodeId;
                            aNextSection.innerHTML += '<b>'+'next'+'</b>'
                            col12_2.appendChild(aNextSection);

                }



                 return section;   

        }
        
        var firstSection = document.getElementById('first_section');
        var bgPicture = document.createElement('img');

        var sectionCount = 6;

        var bgImgs = ['first.jpg','second.jpg','third.jpg','fouth.jpg','fifth.jpg','sixth.jpg',''];
        var titles = ['1977 成立計算機管理決策研究所 , 1997 改名為資訊工程學系', '1989 李家同，1994 陳文村, 2016 許健平 教授獲得教育部學術獎', '1998,1999 在劉炯朗校長帶領下，清華學術聲望奪全台第1', 
                        '2005 微軟亞洲研究院與台灣清華大學再度簽署「人才交流備忘錄」', '2011, 台達館落成', '2014-2016: QS CS subject ranking: 前百大, '];
        var sectionIds = ['first', 'second', 'third', 'fourth', 'fifth', 'sixth'];

        for(var sectionId=0; sectionId<sectionCount; sectionId++){
            var section_tmp = null;
            if(sectionId == sectionCount-1)
                var section_tmp = createSection(sectionIds[sectionId], 'page-section', titles[sectionId], bgImgs[sectionId], null);
            else
                var section_tmp = createSection(sectionIds[sectionId], 'page-section', titles[sectionId], bgImgs[sectionId], sectionIds[sectionId+1]);
            
            var beforePoint = document.getElementById('footerPoint')

            var bgImgLoc = "../static/img/history/";
            section_tmp.style.backgroundImage =  'url('+bgImgLoc + bgImgs[sectionId]+')';
            document.body.insertBefore(section_tmp, beforePoint);


            var seperateLine1 = document.createElement('div');
            seperateLine1.className = "col-lg-12 col-md-12 col-sm-12 col-xs-12 seperateLine";
            seperateLine1.innerHTML = 'test';
            var seperateLine2 = document.createElement('div');
            seperateLine2.className = "col-lg-12 col-md-12 col-sm-12 col-xs-12 seperateLine";
            seperateLine2.innerHTML = 'test';
            var seperateLine3 = document.createElement('div');
            seperateLine3.className = "col-lg-12 col-md-12 col-sm-12 col-xs-12 seperateLine";
            seperateLine3.innerHTML = 'test';
            var seperateLine4 = document.createElement('div');
            seperateLine4.className = "col-lg-12 col-md-12 col-sm-12 col-xs-12 seperateLine";
            seperateLine4.innerHTML = 'test';
            var seperateLine5 = document.createElement('div');
            seperateLine5.className = "col-lg-12 col-md-12 col-sm-12 col-xs-12 seperateLine";
            seperateLine5.innerHTML = 'test';

            document.body.insertBefore(seperateLine1, beforePoint);
            document.body.insertBefore(seperateLine2, beforePoint);
            document.body.insertBefore(seperateLine3, beforePoint);
            document.body.insertBefore(seperateLine4, beforePoint);
            document.body.insertBefore(seperateLine5, beforePoint);

        }
        
    </script>

{% endblock %}

{% block content %}
<br>
<br>
<br>
<!--body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"-->

    <!-- Intro Section -->
    <!--section id="first_section" class="page-section">
        <div id="first_container" class="container">
            <div  class="row">
                <div  class="col-lg-12">
                    <h1 id="first_title" class="col-lg-12" ><b>1977年 成立計算機管理決策所, 1997年 改名為資訊工程學系<b><h1>
                </div>
            </div>
            <div  class="row atBottom">
                <div  class="col-lg-12">
                    <a id="first_aNext" class="btn btn-default page-scroll nextButton" href="#second">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="second" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><h1>
                    <a class="btn btn-default page-scroll" href="#third">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section-->

{% endblock %}