{% extends "layout.html" %}

{% block title %}
    {{super()}}
{% endblock %}

{% block script %}
    <link href="../static/css/1-col-portfolio.css" rel="stylesheet">
    <style>
        h3 {font-weight:100;}
    </style>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Project One -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/600x200" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>系慶交流活動與午宴開放《報名》中！精彩演講與活動千萬不可錯過！</h3>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/600x200" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>歡樂同學會！歡迎各系友《預約教室》大開Party小續當年資味><</h3>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/600x200" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>歡唱卡拉OK放開《報名》拉！點歌無限制，邀請您一起讓歌聲縈繞台達！</h3>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/600x200" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>寶貝也同樂——系列親子活動：故事樂園與魔術氣球表演，開放《報名》中。</h3>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/600x200" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>誰是人氣王？邀請您一同華山論「讚」！　神祕好禮等你來拿 ^.<</h3>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <!-- Project Six -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/600x200" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>江山代有人才出！資工系＆資應所學生研究成果分享展。</h3>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

{% endblock %}
